@use "variables" as *;

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
  font-family: $font-default;
  font-size: $font-lg;
  font-weight: $font-bold;
  color: $bg-white;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 30px;
  background-color: $bg-blue;
  outline: none;
  border: none;
  cursor: pointer;
  user-select: none;
  pointer-events: all;

  &.disabled {
    color: #bdbdbd;
    background-color: $bg-blue;
    opacity: .8;
    cursor: default;
  }
}

.smallButton {
  padding: 15px;
  font-size: $font-sm;
}