@use "variables" as *;

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 42px;
  font-family: $font-default;
  font-size: $font-2xl;
  font-weight: $font-bold;
  color: $bg-white;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 16px;
  background-color: $bg-blue;
  outline: none;
  border: none;
  cursor: pointer;
  user-select: none;
  pointer-events: all;

  &.disabled {
    color: #bdbdbd;
    background-color: #e9e8e8;
    border:0;
    opacity: .8;
    cursor: default;
  }
}

.rootSecondary {
  background-color: $bg-white;
  color:$bg-blue;
  border: 1px solid $bg-blue;

  &:hover:not(.disabled) {
    background-color: rgba(0, 0, 0, 0.04);
  }

  &:active:not(.disabled) {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.smallButton {
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 16px;
}