@use "variables" as *;
@use "media" as *;

.root {
  height: 100%;
  width: 100%;
  min-height: 350px;
}

.backButton {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: #fff;
  &:hover {
    background-color: #d7d7d7;
  }
  border-radius: 12px;
}

.wrapper {
  margin: 0 auto;
  max-width: $max-width;
  padding: 20px 15px;
}

.barBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.brendBlock, .priceBlock, .chapterBlock {
  display: flex;
  flex-direction: column;
}

.brendTitle, .priceTitle, .chapterTitle {
  margin-bottom: 10px;
}

.actionsWrapper {
  display: flex;
  gap: 20px;
}

.headerPage {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  font-size: $font-3xl;
  font-weight: $font-bold;
}

@media (max-width: $tabletScreen) {
  .barBlock {
    display: none;
  }

  .title {
    font-size: $font-2xl;
    font-weight: $font-bold;
  }
}