@use "variables" as *;

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: $font-md;
  font-weight: $font-semi-bold;
}

.link {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.counter {
  width: 48%;
  display: flex;
  align-items: center;
  gap: 25px;
}

.cartAmount {
  max-height: 53px;
  width: 49%;
}

.onePrice {
  width: 24%;
  text-align: center;
}

.totalPrice {
  width: 24%;
  text-align: center;
  font-size: $font-xl;
  font-weight: $font-semi-bold;
}

.removeBtn {
  max-width: 9%;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;

  svg {
    fill: tomato;
  }
}