@use "variables" as *;
@use "media" as *;

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: $font-md;
  font-weight: $font-semi-bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.link {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.counter {
  display: flex;
  align-items: center;
  gap: 25px;
}

.cartAmount {
  max-height: 53px;
}

.onePrice {
  width: 24%;
  text-align: center;
}

.totalPrice {
  width: 24%;
  text-align: center;
  font-size: $font-xl;
  font-weight: $font-semi-bold;
}

.removeBtn {
  max-width: 9%;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;

  svg {
    fill: tomato;
  }
}

@media (max-width: 655px) {
  .root {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 10px;
  }

  .link {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
  }

  .counter {
    width: 100%;
    grid-column: 1;
    grid-row: 2;
  }

  .removeBtn {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: end;
    max-width: none;
    width: 24px;
    height: 24px;
  }
}