@use "variables" as *;
@use "media" as *;

.root {
  display: grid;
  gap: 24px;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
}

.skeletonList {
  gap: 24px;
}

.skeletonItem {
  list-style: none;
  flex: 1 1 24%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: $bg-white;
  padding: 15px;
  border-radius: 16px;
  box-sizing: border-box;
}

.skeletonLine {
  width: 70%;
}

.noContentBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & span {
    border-color: $bg-blue !important;
    border-bottom-color: transparent !important;
  }
}

.noFound {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: $tabletScreen) {
  .root {
    width: 100%;
  }
}

@media (max-width: $tabletScreen) {
  .root {
    grid-template-columns: repeat(2, 1fr);
  }
  .skeletonItem {
    flex-basis: 48%;
  }
}

@media (max-width: 525px) {
  .root {
    grid-template-columns: 1fr;
  }
  .skeletonItem {
    flex-basis: 100%;
  }
}

@media (min-width: $laptopScreen) {
  .root {
    gap: 32px;
  }

  .skeletonList {
    gap: 32px;
  }
}
