@use "variables" as *;
@use "media" as *;

//.root {
//  display: grid;
//  gap: 16px;
//  justify-items: stretch;
//  align-items: stretch;
//  grid-template-columns: repeat(4, 1fr);
//  width: 80%;
//}
.root {
  display: grid;
  gap: 16px;
  justify-items: stretch; // 👈 важно!
  align-items: stretch; // 👈 заставляет все карточки быть одинаковой высоты
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
}

.skeletonList {
  gap: 20px;
}

.skeletonItem {
  list-style: none;
  flex: 1 1 24%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: $bg-white;
  padding: 15px;
  border-radius: 16px;
  box-sizing: border-box;
}

.skeletonLine {
  width: 70%;
}

.noContentBlock {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;

  & span {
    border-color: $bg-blue !important;
    border-bottom-color: transparent !important;
  }
}

.noFound {
  display: flex;
  width: 80%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: $tabletScreen) {
  .root {
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .root {
    grid-template-columns: repeat(3, 1fr);
  }
  .skeletonItem {
    flex-basis: 32%;
  }
}

@media (max-width: 750px) {
  .root {
    grid-template-columns: repeat(2, 1fr);
  }
  .skeletonItem {
    flex-basis: 48%;
  }
}

@media (max-width: 525px) {
  .root {
    grid-template-columns: 1fr;
  }
  .skeletonItem {
    flex-basis: 100%;
  }
}
