@use "variables" as *;

.root {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 24px;
  padding: 24px 28px;
  border: 1px solid rgba(148, 163, 184, 0.2);
  box-shadow: 0 16px 34px rgba(15, 23, 42, 0.12);
}

.title {
  font-size: $font-xl;
  color: #0f172a;
  font-weight: $font-semi-bold;
  margin-bottom: 8px;
}
