.root {
  padding: 15px;
  background-color: $bg-blue;
  border-radius: 30px;
  color: $text-white;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: $font-sm;
  font-weight: $font-bold;
  cursor: pointer;
}