@use "variables" as *;

.root {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
  font: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  cursor: pointer;
}

.imageWrapper {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 50%;
  background-color: $bg-gray;
}

.text {
  text-align: center;
  font-size: $font-md;
}