@use "variables" as *;
@use "media" as *;

.pageLayout {
  background-color: $bg-gray;
}

.contentFilterWrapper {
  display: flex;
  gap: 15px;
}

.searchSortWrapper {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

@media (max-width: $tabletScreen) {
  .filter {
    display: none;
  }
}