.pageLayout {
  width: 100%;
  background-color: $bg-gray;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
}

.imageWrapper {
  background-color: $bg-white;
  border-radius: 16px;
  width: 59%;
}

.image {
  display: flex;
  margin: 0 auto;
}

.additionalInfoBlock {
  display: flex;
  justify-content: space-between;
}

.characteristics, .description {
  width: 49%;
}

.characteristicsTitle, .descriptionTitle {
  font-size: $font-2xl;
  font-weight: $font-bold;
  margin-bottom: 15px;
}

.characteristicsInformation, .descriptionInformation {
  background-color: $bg-white;
  border-radius: 16px;
  padding: 16px;
}

.characteristicsInformation {
  display: flex;
  flex-direction: column;
}

.characteristicsItem {
  display: flex;
  border-bottom: 1px solid $bg-gray;
  padding: 10px;
  &:hover {
    background-color: $bg-gray;
  }
}

.key, .value {
  width: 50%;
}

.key, .descriptionInformation {
  font-size: $font-md;
}

.value {
  font-size: $font-md;
  font-weight: $font-semi-bold;
}