.pageLayout {
  background-color: $bg-gray;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
}

.imageWrapper {
  background-color: $bg-white;
  border-radius: 16px;
  width: 40.7%;
}

.image {
  display: flex;
  margin: 0 auto;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
  background-color: $bg-white;
  border-radius: 16px;
  width: 57.65%;
  padding: 35px;
}

.additionalContent {
  width: 40%;
  border-right: 1px solid $bg-gray;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.stockInfo {
  font-size: $font-md;
  font-weight: $font-semi-bold;
}

.inStock {
  color: #52998b;
}

.noStock {
  color: tomato;
}

.priceInfo {
  font-size: $font-xl;
  font-weight: $font-boldMax;
}

.amountWrapper {
  display: flex;
  flex-wrap: nowrap;
}

.incrementAmount, .decrementAmount {
  font-size: $font-xl;
  width: 25%;
  padding: 16px 0;
  cursor: pointer;
}

.inputAmount {
  text-align: center;
  outline: none;
}

.descriptionWrapper {
  width: 57%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: $font-xl;
  font-weight: $font-bold;
}

.description {
  font-size: $font-md;

  height: 280px; // меньше, т.к. внутри wrapper
  overflow-y: auto;
  white-space: pre-wrap; // если нужно сохранить переносы строк
}