.pageLayout {
  background-color: $bg-gray;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
}

.imageWrapper {
  background-color: $bg-white;
  border-radius: 16px;
  width: 40.7%;
}

.image {
  display: flex;
  margin: 0 auto;
}