@use "variables" as *;
@use "media" as *;

.root {
  display: grid;
  gap: 24px;
  justify-items: center;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  width: 100%;


  @media (max-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 530px) {
    grid-template-columns: 1fr;
  }
}
