@use "variables" as *;
@use "media" as *;

.header {
  background-color: $bg-white;
  position: sticky;
  top: 0;
  left: 0;
  padding: 20px 15px;
  z-index: 2;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-width;
  margin: 0 auto;
}

.additionalWrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.mobileActions {
  display: none;
  align-items: center;
  gap: 10px;
}

.burger {
  display: none;
}

.cartMobile {
  display: none;
}

@media (max-width: $tabletScreen) {
  .additionalWrapper {
    position: absolute;
    top: -1000%;
    left: 0;
    width: 100%;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    background-color: $bg-gray;
    z-index: 999;
  }

  .additionalWrapper.open {
    top: 89px;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .cart {
    display: none;
  }

  .mobileActions {
    display: flex;
  }

  .cartMobile {
    display: block;
  }

  .burger {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: $mobileScreen) {
  .header {
    padding: 10px 10px;
  }

  .additionalWrapper.open {
    top: 56px;
  }
}
