@use "variables" as *;
@use "media" as *;

.pageLayout {
  background-color: $bg-gray;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.topWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 66.12%;
}

.bottomWrapper {
  position: sticky;
  top: 110px;
  align-self: flex-start;
  width: 32.2%;
}

@media (max-width: $tabletScreen) {
  .contentWrapper {
    flex-direction: column;
    gap: 15px;
  }

  .topWrapper {
    width: 100%;
  }

  .bottomWrapper {
    width: 100%;
  }
}