@use "variables" as *;
@use "media" as *;

.root {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  min-height: 550px;
  height: 100%;
  background-color: $bg-white;
  max-width: 260px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  flex: 1;
  color: $text-black;
  }

.title {
  font-size: $font-lg;
  font-weight: $font-bold;
  line-height: 1.35;
}

.description {
  font-size: $font-md;
  font-weight: $font-sm;
  line-height: 1.5;
}
@media (max-width: $laptopScreen) {
  .root {
    max-width: 220px;
    min-height: 500px;
  }
}

@media (max-width: $mobileScreen) {
  .root {
    min-width: 100%;
    margin: 0;
  }

  .title {
    font-size: $font-md;
  }

  .description {
    font-size: $font-md;
    font-weight: $font-light;
  }
}