@use "variables" as *;

.root {
  background-color: $bg-white;
  border-radius: 16px;
  padding: 16px;
}

.title, .cartEmpty {
  margin-bottom: 24px;
  font-size: $font-2xl;
  font-weight: $font-bold;
}

.cartEmpty {
  text-align: center;
}