@use "variables" as *;

.nav {
  display: flex;
  gap: 10px;
}

.nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $text-black;
  font-size: $font-xl;
  font-weight: $font-regular;
}