@use "media" as *;

.form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 28px;
  flex-wrap: wrap;
}

.form > * {
  min-width: 220px;
}

@media (max-width: $tabletScreen) {
  .form {
    flex-direction: column;
  }

  .button {
    width: 100%;
  }
}
