@use "variables" as *;

//.root {
//  max-height: 385px;
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//  gap: 15px;
//  background-color: $bg-white;
//  padding: 15px;
//  border-radius: 16px;
//  width: 24.2%;
//}
.root {
  height: 100%;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  background-color: $bg-white;
  padding: 16px;
  border-radius: 16px;
  width: 100%;
}

.itemImage {
  display: flex;
  margin: 0 auto;
  border-radius: 8px;
}

.bottomBlockWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.title {
  font-size: $font-lg;
  font-weight: $font-regular;
}

.stockInfo {
  font-size: $font-sm;
  font-weight: $font-semi-bold;
}

.inStock {
  color: #52998b;
}

.noStock {
  color: tomato;
}

.priceInfo {
  font-size: $font-xl;
  font-weight: $font-semi-bold;
}

//@media (max-width: 1150px) {
//  .root {
//    width: 32.7%;
//  }
//}
//
//@media (max-width: 750px) {
//  .root {
//    width: 49%;
//  }
//}
//
//@media (max-width: 525px) {
//  .root {
//    width: 100%;
//  }
//}