@use "variables" as *;

.root {
  height: 100%;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  background-color: $bg-white;
  padding: 16px;
  border-radius: 16px;
  width: 100%;
}

.itemImage {
  display: flex;
  margin: 0 auto 12px;
  border-radius: 8px;
  object-fit: cover;       
  object-position: center;
}

.bottomBlockWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: $font-lg;
  font-weight: $font-regular;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  hyphens: auto;
}

.stockInfo {
  font-size: $font-sm;
  font-weight: $font-semi-bold;
  margin-bottom: 4px;
}

.inStock {
  color: #52998b;
}

.noStock {
  color: tomato;
}

.priceInfo {
  font-size: $font-xl;
  font-weight: $font-semi-bold;
  margin-bottom: 12px;
}
